<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <title>Stackalytics.Chart</title>
  <style type="text/css">
  .container {width: auto;}
  .chart_off {
    color: #cccccc;
  }
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  .footer .container {
    padding: 1em;
    padding-left: 3em;
  }
  </style>
  <script>
  var commit_datasets = [
    <% company_maps.each_with_index do |(id, metric), index| %>
      <% color = get_color(index) %>
    {
      label: "<%= id %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric.join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var company_labels = [<%= company_labels.map{|l| "\"#{short_date(l)}\"" }.join(', ') %>];

  var people_datasets = [
    <% person_maps.each_with_index do |(id, metric), index| %>
      <% color = get_color(index) %>
    {
      label: "<%= id %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric['people'].join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var peaple_labels = [<%= person_labels.map{|l| "\"#{short_date(l)}\"" }.join(', ') %>];

  $(function() {
    var commit_ctx = document.getElementById("commitcanvas").getContext("2d");
    var people_ctx = document.getElementById("peoplecanvas").getContext("2d");
    var draw = function(ctx, labels, datasets){
      var lineChartData = {
        labels : labels,
        datasets : datasets
      }
      if (window.myLine) {
        window.myLine.destroy();
      }
      window.myLine = new Chart(ctx).Line(lineChartData, {
        bezierCurve: false,
        responsive: true
      });
    };
    draw(commit_ctx, company_labels, commit_datasets);
    draw(people_ctx, peaple_labels, people_datasets);
  });
  </script>
</head>
<body>
<div class='container'>
  <h1>Stackalytics.Chart</h1>

  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>

  <h2>Number of Commit</h2>
  <div>
    <canvas id="commitcanvas" height="600" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% person_labels.each do |label| %>
          <th><%= short_date(label) %></th>
        <% end %>
      </tr>
      <% person_maps.each_with_index do |(id, metric), index| %>
        <% color = get_color(index) %>
      <tr id='<%=id%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><a href='<%=id%>.html'><%= id %></a></td>
        <% metric['commit'].each do |m| %>
        <td class='metric'><%= m %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>

  <h2>Number of People</h2>
  <div>
    <canvas id="peoplecanvas" height="600" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% person_labels.each do |label| %>
          <th><%= short_date(label) %></th>
        <% end %>
      </tr>
      <% person_maps.each_with_index do |(id, metric), index| %>
        <% color = get_color(index) %>
      <tr id='<%=id%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><a href='<%=id%>.html'><%= id %></a></td>
        <% metric['people'].each do |m| %>
        <td class='metric'><%= m %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="https://github.com/yuanying/stackalytics.tools">stackalytics.tools</a></p>
  </div>
</footer>

</body>
</html>
