<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/stackalytics.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/stackalytics.js"></script>
  <title>Stackalytics.Chart</title>
  <script>
  var commitDatasets = [
    <% commits_data.each_with_index do |(id, metric), index| %>
      <% color = get_color(index) %>
    {
      label: "<%= id %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric.join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var commitLabels = [<%= commits_labels.map{|l| "\"#{short_date(l)}\"" }.join(', ') %>];

  var reviewDatasets = [
    <% reviews_data.each_with_index do |(id, metric), index| %>
      <% color = get_color(index) %>
    {
      label: "<%= id %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric.join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var reviewLabels = [<%= reviews_labels.map{|l| "\"#{short_date(l)}\"" }.join(', ') %>];

  var engineerDatasets = [
    <% person_maps.each_with_index do |(id, metric), index| %>
      <% color = get_color(index) %>
    {
      label: "<%= id %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric['people'].join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var engineerLabels = [<%= person_labels.map{|l| "\"#{short_date(l)}\"" }.join(', ') %>];

  $(function() {
    var commit_ctx = document.getElementById("commitcanvas").getContext("2d");
    var review_ctx = document.getElementById("reviewcanvas").getContext("2d");
    var people_ctx = document.getElementById("peoplecanvas").getContext("2d");
    var commitDraw = stackalytics.createDrawFunction(commit_ctx);
    var reviewDraw = stackalytics.createDrawFunction(review_ctx);
    var peopleDraw = stackalytics.createDrawFunction(people_ctx);

    commitDraw(commitLabels, commitDatasets);
    reviewDraw(reviewLabels, reviewDatasets);
    peopleDraw(engineerLabels , engineerDatasets);
  });
  </script>
</head>
<body>
<div class='container'>
  <h1>Stackalytics.Chart</h1>

  <ol class="breadcrumb">
    <li class="active">Home</li>
  </ol>

  <div>
    <a class='btn btn-primary' href='index.xlsx'>Excel</a>
    <a class='btn btn-default' href="http://stackalytics.com/">
      Stackalytics
    </a>
  </div>

  <h2>Number of Commit</h2>
  <div>
    <canvas id="commitcanvas" height="600" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% commits_labels.each do |label| %>
          <% if friday?(label) %>
          <th><%= short_date(label) %></th>
          <% end %>
        <% end %>
      </tr>
      <% commits_data.each_with_index do |(id, metric), index| %>
        <% color = get_color(index) %>
      <tr id='<%=id%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><a href='<%=id%>.html'><%= id %></a></td>
        <% prev_m = 0 %>
        <% metric.each_with_index do |m, i| %>
          <% if friday?(commits_labels[i]) %>
          <td class='metric'>
            <%= m %> <span>(<%= m - prev_m %>)</span>
            <% prev_m = m %>
          </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>

  <h2>Number of Review</h2>
  <div>
    <canvas id="reviewcanvas" height="600" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% reviews_labels.each do |label| %>
          <% if friday?(label) %>
          <th><%= short_date(label) %></th>
          <% end %>
        <% end %>
      </tr>
      <% reviews_data.each_with_index do |(id, metric), index| %>
        <% color = get_color(index) %>
      <tr id='<%=id%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><a href='<%=id%>.html'><%= id %></a></td>
        <% prev_m = 0 %>
        <% metric.each_with_index do |m, i| %>
          <% if friday?(commits_labels[i]) %>
          <td class='metric'>
            <%= m %> <span>(<%= m - prev_m %>)</span>
            <% prev_m = m %>
          </td>
          <% end %>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>

  <h2>Number of People</h2>
  <div>
    <canvas id="peoplecanvas" height="600" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% person_labels.each do |label| %>
          <th><%= short_date(label) %></th>
        <% end %>
      </tr>
      <% person_maps.each_with_index do |(id, metric), index| %>
        <% color = get_color(index) %>
      <tr id='<%=id%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><a href='<%=id%>.html'><%= id %></a></td>
        <% prev_m = 0 %>
        <% metric['people'].each do |m| %>
        <td class='metric'>
          <%= m %> <span>(<%= m - prev_m %>)</span>
          <% prev_m = m %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="https://github.com/yuanying/stackalytics.tools">stackalytics.tools</a></p>
  </div>
</footer>

</body>
</html>
