<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/stackalytics.css" rel="stylesheet" media="screen">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <title>Stackalytics.Chart</title>
</head>
<body>
<div class='container'>
  <h1><%= company %> <small><%= metric %></small></h1>

  <ol class="breadcrumb">
    <li><a href="./index.html">Home</a></li>
    <li><a href="./<%= company%>.html"><%= company %></a></li>
    <li class="active"><%= metric %></li>
  </ol>

  <div>
    <a class='btn btn-primary' href='<%=company%>.xlsx'>Excel</a>
    <a class='btn btn-default' href="http://stackalytics.com/?company=<%=company%>">
      Stackalytics
    </a>
  </div>

  <table class='table table-hover'>
    <tr>
      <th></th>
      <th></th>
      <% labels.each do |label| %>
        <th><%= label %></th>
      <% end %>
    </tr>
    <% datasets.each_with_index do |(id, data), index| %>
      <% color = get_color(index) %>
    <tr class='person' id='commits_<%=_short_id(id)%>' title='<%=_short_id(id)%>'>
      <td style="background-color: <%= color[0] %>;">&nbsp;</td>
      <td class='name'>
        <a href="http://stackalytics.com/?user_id=<%=id%>&amp;metric=<%= metric == 'reviews' ? 'marks' : metric %>">
          <%= _short_id(id) %>
        </a>
      </td>
      <% data.each do |m| %>
      <td class='metric'>
        <%= m %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>

</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="https://github.com/yuanying/stackalytics.tools">stackalytics.tools</a></p>
  </div>
</footer>

</body>
</html>
