<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <title>Stackalytics.Chart</title>
  <style type="text/css">
  .chart_off {
    color: #cccccc;
  }
  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
  }
  .footer .container {
    padding: 1em;
    padding-left: 3em;
  }
  </style>
  <script>
  var datasets = [
    <% person_map.each_with_index do |(id, metric), index| %>
      <% color = colors[index] || colors[9] %>
    {
      label: "<%= _short_id(id) %>",
      fillColor : "<%= color[1] %>",
      strokeColor : "<%= color[0] %>",
      pointColor : "<%= color[0] %>",
      pointStrokeColor : "#fff",
      pointHighlightFill : "#fff",
      pointHighlightStroke : "<%= color[0] %>",
      data : [ <%= metric.join(', ') %> ],
      chart_off: false
    },
    <% end %>
  ];
  var filterDatasets = function(id, chart_off) {
    var rtn = [];
    for(var i=0; i<datasets.length; i++) {
      if (datasets[i].label == id ) {
        datasets[i].chart_off = chart_off;
      }
      if (!datasets[i].chart_off) {
        rtn.push(datasets[i]);
      }
    }
    return rtn;
  };

  $(function() {
    var switcher = function() {
      var name = this.id;
      if (this.chart_off) {
        this.chart_off = false;
        $(this).removeClass("chart_off");
      } else {
        this.chart_off = true;
        $(this).addClass("chart_off");
      }
      draw(filterDatasets(name, this.chart_off));
    };
    <% person_map.each do |id, metric| %>
    $('#<%=_short_id(id)%>').click(switcher);
    <% end %>


    var ctx = document.getElementById("canvas").getContext("2d");
    var draw = function(datasets){
      var lineChartData = {
        labels : [<%= person_labels.map{|l| "\"#{l}\"" }.join(', ') %>],
        datasets : datasets
      }
      if (window.myLine) {
        window.myLine.destroy();
      }
      window.myLine = new Chart(ctx).Line(lineChartData, {
        bezierCurve: false,
        responsive: true
      });
    };
    draw(datasets);
  });
  </script>
</head>
<body>
<div class='container'>
  <h1><%= company %></h1>
  <div>
    <a class='btn btn-primary' href='<%=company%>.xlsx'>Excel</a>
  </div>
  <div>
    <canvas id="canvas" height="800" width="1200"></canvas>
  </div>
  <div>
    <table class='table table-hover'>
      <tr>
        <th></th>
        <th></th>
        <% person_labels.each do |label| %>
          <th><%= label %></th>
        <% end %>
      </tr>
      <% person_map.each_with_index do |(id, metric), index| %>
        <% color = colors[index] || colors[9] %>
      <tr id='<%=_short_id(id)%>'>
        <td style="background-color: <%= color[0] %>;">&nbsp;</td>
        <td class='name'><%= _short_id(id) %></td>
        <% metric.each do |m| %>
        <td class='metric'><%= m %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted"><a href="https://github.com/yuanying/stackalytics.tools">stackalytics.tools</a></p>
  </div>
</footer>

</body>
</html>
